---
import Header from "../components/Header.astro";
import BlurCircle from "@/components/shared/BlurCircle.astro";
import theme from "@/data/theme";
import SEOTags from "@/components/seo/SEOTags.astro";
import type { HeadTags } from "@/utils/types/HeadTags";

import "@/styles/tailwind.css";
import "@/styles/post.css";

export type Props = HeadTags;

const headTags = Astro.props;
---

<!doctype html>
<html lang="en">
  <SEOTags {...headTags} />
  <body
    class="mx-auto flex min-h-screen max-w-[928px] flex-col gap-9 bg-slate-950 px-10 py-8 text-base text-neutral-400 md:gap-20 md:py-16 md: px-2"
  >
    <Header />
    <BlurCircle position="top" color={theme.colors.blur.top} />
    <BlurCircle position="bottom" color={theme.colors.blur.bottom} />
    <slot />
    <footer class="gap-10 text-center">
      <p class="text-center text-sm">
        ©2025 <a
          class="underline"
          href="https://github.com/srn221B/srn221B.github.io">srn221b</a
        >
      </p>
    </footer>
  </body>
</html>
